<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<h2>Chad Cropley</h2>
  <br>
<p>I enjoy problem solving and learning new technologies. My background includes
  software development, technical support, marketing, and web development.
  I’ve held certifications in Network+, Microsoft Certified Systems Engineer
  and RedHat Linux. Some of these certs are still current. My interest in technology
  led me to recently take an OSU course in R programming and my side interests include digital media.</p>


<p>Aside from technology I truly enjoy the great outdoors. I earned a BS in Recreation Resource Management
  from Oregon State University. I’ve worked for the Oregon Department of Fish and Wildlife.</p>

<p>Digital photography, martial arts and fitness round out my areas of interest and keep life interesting.</p>

<p>Instagram Github Linked eMail</p>
